[2018-07-03 01:02] Protohedgehog opened #1 "Fix broken images"
Not sure why the images aren't showing up on the website, being broken links instead.. https://open-scholarship-strategy.github.io/site/

[2018-07-03 01:35] Protohedgehog commented on #1
Seem to have fixed this somehow. Moving on! :)

[2018-07-03 01:35] #1 closed

[2018-07-03 04:36] Protohedgehog opened #2 "Spelling and grammar"
The whole thing has to be initially converted to either US or UK English. Any preferences from folks here?

[2018-07-22 09:05] Protohedgehog opened #8 "Better visualiation of the site"
Does anyone know of a better way to visualise the content? It's a bit of a long static page at the moment. Just something like having the table of contents stuck to the sidebar might be useful.

[2018-07-22 09:11] tosteiner commented on #8
uhm, site is running on GitHub Pages, right? They've got a variety of themes available, see e.g. (w. sidebar):

* https://pages-themes.github.io/minimal/
* https://pages-themes.github.io/dinky/

[2018-07-22 09:23] Protohedgehog commented on #8
Oooh, legendary! Thanks Tobias, let's go with dinky and see what happens.

[2018-07-22 09:23] tosteiner commented on #8
or (more advanced): https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/#github-pages-method

[2018-07-22 09:28] Protohedgehog commented on #8
Thanks for your help on this! OK, I just tried to edit the _site.yml to use the dinky theme and broke the website.

Getting the error: Error in navbarHeights[[theme]] : subscript out of bounds

Any idea on how to get past that?

[2018-07-22 09:39] tosteiner commented on #8
hm, good question... not exactly sure... you're compiling your text with R, right? There might be some translation issues between R, pandoc and the markdown handler in GitHub, but that's just a (semi-)educated guess based on [this here](https://github.com/rstudio/rmarkdown/issues/1016) - so maybe just try the other theme, Minimal? (sorry, not much help, though 😊 )

[2018-07-22 10:00] Protohedgehog commented on #8
Yep, I'm trying to do all of this in R Studio. Minimal doesn't seem to work either, same error.  Reverting back to flatly for now.. Hmmm.

[2018-07-22 10:08] tosteiner commented on #8
maybe you want to check this one here: https://github.com/rstudio/rmarkdown/issues/1189 - in short, this comes down to an update of rmarkdown to v1.8 or later (in case you want to try that)

[2018-07-22 10:11] Protohedgehog commented on #8
OK, I had 1.9 installed, but upgrading to 1.10 now.. Let's see! :)

[2018-07-22 10:14] tosteiner commented on #8
sounds good :) but yeah, in general, I guess someone with deeper knowledge of git would be more helpful than me, I guess... I do know the basics, but am quickly lost when it comes to looking under the hood

[2018-07-22 10:35] Protohedgehog commented on #8
OK, that didn't work, sadly. I thought it did for a second but was mistaken. @danielskatz any idea on this stuff?

[2018-07-22 10:40] Protohedgehog commented on #8
I think I need to have a config.yml file that might help with some of these things.  Will investigate.

[2018-07-22 10:43] tosteiner commented on #8
👍 sounds reasonable, yes  - see https://github.com/pages-themes/dinky/blob/master/README.md for more

[2018-07-22 10:51] danielskatz commented on #8
Sorry, this isn't one of the things I have  lot of experience with

[2018-07-22 11:43] zuphilip commented on #8
There is a Jekyll plugin for the TOC you might want to look closer into: https://github.com/dafi/jekyll-toc-generator. However, it seems that you then need to overwrite some of the files locally. Because I have only seen in the one pre-defined theme a TOC: https://pages-themes.github.io/leap-day/

[2018-07-27 08:21] Matherion opened #13 "Resistance to change, thinking about behavior change more generally"
I notice that there are many assumptions and radical simplifications where it concerns behavior change.

Human behavior and the psychology from which that behavior originated are complex; there are no simple tricks or solutions (although Ted talks might easily give that impression). Basically, it's tempting to think that as a human, as a scientist, you can constructively think about why researcher

[2018-07-29 01:12] tosteiner commented on #8
@Protohedgehog playing around with github page themes, I managed to apply basic, out-of-the-box styling - this is the `Architect` theme at my fork at https://tosteiner.github.io/site/

[2018-07-29 11:07] Protohedgehog commented on #8
Awesome, I got the pull request here: https://github.com/Open-Scholarship-Strategy/site/pull/14

Will have to work on this tomorrow, as it looks like there are a few conflicts. Thanks again! :)

[2018-07-29 14:05] JeroenBosman opened #15 "Reuse practices missing from individual level short term strategy"
I find that the short term individual strategy misses reuse/contribute/help practices that are essential to create a thriving open science culture. Suggestions to include (but not limit to):

- instead of creating your own data, search for existing data you can reuse
- leave constructive comments/annotations on preprints/code etc
- help answer questions in Ask Open Science, Stack Overflow and on T

[2018-07-29 14:09] tosteiner commented on #15
@JeroenBosman important points indeed! Would you like to add them to the document? Alternatively, I could insert them since I'm currently skimming through it anyway :)

[2018-07-29 14:10] JeroenBosman opened #16 "Lab level open science discussions pledges or codes of conduct"
I suggest to mention for the sort term strategy at lab/department level to start discussions towards an implicit or explicit (shared) open science pledge or code of conduct for the lab.

[2018-07-29 14:16] JeroenBosman opened #17 "Educate communication and research assessment staff on open science"
On the institutional level it is important to from the start engage communication departments and research assessment officials. Organize sessions to tell them about open science and be sensitive to the fact that it may imply they change their entire view of what is important in science and what their role could be.

[2018-07-29 14:37] JeroenBosman opened #18 "Cutting through the hierarchically nested individual through international levels"
It think that in focusing on the individual-lab-institutional-national-international hierarchy of decision making levels we need to add other perspectives, especially ones that connect the lower levels (individual/lab) internationally.

One reason is that culturally determined aspects of open science should be discussed at the field level, e.g. during international conferences.

Another reason is

[2018-07-29 14:42] tosteiner commented on #15
@JeroenBosman update: your points (this one here plus #16 #17 ) have been added to:

https://github.com/Open-Scholarship-Strategy/site/commit/91c2ebb7244cea8aeb09723344829970880488e7

[2018-07-29 14:49] JeroenBosman commented on #15
Thanks! I am hesitant of adding them without others first having seen/checked them for value and consistency ;-)

[2018-07-29 14:53] tosteiner commented on #15
I'm sure Jon will check these tomorrow... I for one fully agree with all of them (and would've added #18 as well, but am a bit hesitant because I'm not quite sure where to put this one, since it would fit in many of the available sections.)

[2018-07-29 15:05] JeroenBosman opened #19 "Principles or values?"
The document lists as principles: participation, equality, transparency, cognitive justice, collaboration, sharing, equity, and inclusivity. I would say these are _values_ and not so much principles. If you have these values your can make them into principles for something by making them part of _statements_.

Thus, I would suggest to call them core values rather than principles.

[2018-07-29 15:31] JeroenBosman opened #20 "Link to charters overview"
In the section:

"Availability of Open Scholarship charters and declarations.
This ever-growing range of high-level statements in support of openness (typically Open Access) offers internally consistent sets of goals and actions that are result of a lot of thinking and discussing."

You could link to the overview of charters available at: http://tinyurl.com/scholcomm-charters

[2018-07-29 15:45] JeroenBosman opened #21 "Being open to the limitations of openness"
In the document I miss references of the dangers of not being open to the limitations of openness. In the section on challenges for the community regarding language and appearance I would include:

Enthusiasm for openness carries the danger of not being receptive to critique or not acknowledging that there are situations where the standard open practices have dangers. This may relate to privacy bu

[2018-07-29 15:55] JeroenBosman opened #22 "Lack of high profile role models for all practices and all field"
Under threats (barriers to open access adoption) I would mention that that still is a lack of (an overview of) (high profile) role models for all practices in all fields. Such an overview would make it easier to respond to the "we do not do that in our field" statements.

[2018-07-30 03:38] Protohedgehog opened #23 "Input from Katja Mayer on Twitter"
2 quick things 1) link to metric tide and call for next generation metrics + open citations are missing? 2) need for best practice stories and role models in near term goals is missing.

https://twitter.com/katja_mat

[2018-07-30 05:07] Protohedgehog commented on #13
This is awesome, thanks @Matherion. Do you think, given the potential complexity of these revisions, and the looming deadline (ie today), that these could be integrated with the second version, when the time comes? Seems like this is important to include!

[2018-07-30 05:11] Protohedgehog commented on #15
Checked, verified, awesome! Going through all of these now. When I've done with all @JeroenBosman's issues, I'll index the first version. Exciting! :)

[2018-07-30 05:11] #15 closed

[2018-07-30 05:13] Protohedgehog commented on #16
Awesome, thanks! :)

Added in a ref to the Contributor Covenant https://www.contributor-covenant.org/

[2018-07-30 05:13] #16 closed

[2018-07-30 05:14] Protohedgehog commented on #17
Perfect, thanks! :)

[2018-07-30 05:14] #17 closed

[2018-07-30 05:24] Protohedgehog commented on #18
Have integrated this in several places now, good stuff.

[2018-07-30 05:26] Protohedgehog commented on #19
This is an excellent point. What I've done is broaden the categories to 'knowledge and practices' and 'principles and values' now to reflect this.

[2018-07-30 05:28] Protohedgehog commented on #20
Ah, this is a much nicer URL, thanks. It was already referenced in Section 3, but I've added it in here too now - thanks!

[2018-07-30 05:31] Protohedgehog commented on #21
Such a good point. I added it under the 'Lack of patience' point now, thanks!

[2018-07-30 05:31] #21 closed

[2018-07-30 05:33] Protohedgehog commented on #22
Added, thanks! :)

[2018-07-30 05:33] #22 closed

[2018-07-30 05:38] Protohedgehog commented on #23
Note. I4OC is mentioned here: Encourage further adoption by publishers of the [Initiative for Open Citations](https://i4oc.org/) (I4OC) in conjunction with the wider uptake of open standards.

Added all of this in now.

[2018-07-30 05:38] #23 closed

[2018-07-30 13:55] timkoder opened #25 "Duplicate line in section 7.1"
On the first public draft, a bullet is duplicated in section 7.1:

Overcoming the misconception that Open Scholarship is anti-commercial and demonstrating a return on investment (e.g., Balasegaram et al., 2017; Hakoum et al., 2017).

Overcoming the misconception that Open Scholarship is anti-commercial/demonstrating return on investment (e.g., Balasegaram et al., 2017; Hakoum et al., 2017).

[2018-07-30 13:59] timkoder opened #26 "Could we add a strong finish?"
Now that the framework is up in public, looking great, would it make sense to finish not with the Threats section, but with a much more future-looking, aspirational call to action?

[2018-07-30 14:01] Protohedgehog commented on #25
Got it, thanks!

[2018-07-30 14:01] #25 closed

[2018-07-30 14:03] Protohedgehog commented on #26
Ah, yes, that's a good idea. What sort of thing do you propose?

[2018-07-30 14:30] timkoder opened #27 "New text for pharma industry status"
The bullet in section 4.2 is now out of date because there is one clinical preprint from pharma. It also looks odd to talk only about preprints. I have therefore given a little more context about the industry and some brief text about changes in open access, ORCID and preprints.
[2018-07-30 Open Scholarship Framework input from Tim.zip](https://github.com/Open-Scholarship-Strategy/site/files/22415

[2018-07-30 14:32] Protohedgehog commented on #27
This is great, thanks! You can also edit the text directly using Git's workflow if that's easier: https://github.com/Open-Scholarship-Strategy/site#how-to-contribute Saves having to switch back and forth between different documents in different formats :)

[2018-07-31 10:50] jaranta commented on #8
Just a heads up: you can only use a couple of pre-approved Jekyll plugins if you host your site on Github Pages (jekyll-toc-generator warns about this). You can pretty easily build this with just Liquid, though. I have some experience playing around with Jekyll, so I can help with this if you have some specific things in mind.

[2018-07-31 11:27] Protohedgehog commented on #8
Hi @jaranta, thanks for this helpful comment! Should have figured things were limited.

If you know how though, the sort of thing I think we're after is like here: https://open-science-training-handbook.gitbook.io/book/introduction with the table of contents as a static item in the sidebar as you scroll through the document. Is something like that possible..? :)

[2018-08-01 08:33] jaranta commented on #8
Yes it is! You just have to create the TOC when creating the document and then do some CSS trickery to push it to either side of the document. Shouldn't be even that hard. You could get it to highlight the relevant section in the TOC with some more trickery, but that's probably beyond me.

Caveat: I'm not an expert in any of this, but I'd be happy to tackle the challenge. I can try it locally and

[2018-08-01 09:05] Protohedgehog commented on #8
Aha, I see, thanks! The highlighting thing would be cool too, if possible.

I'm looking at posts like here https://github.com/dafi/jekyll-toc-generator and here https://kramdown.gettalong.org/converter/html.html#toc for now, but it seems like some extra files and stuff are needed that we don't have yet. Please do feel free to take a whack at it if you find the time - no rush at all! :)

[2018-08-02 21:22] tosteiner opened #28 "localizations"
@Protohedgehog Jon, I think you mentioned someone doing a translation of this to Spanish, right? I'm currently working on a German version - how would you like to have these implemented? atm, I'm simply working in a separate folder that mirrors the original structure but with German text...

[2018-08-02 21:37] tosteiner opened #30 "group of authors in zenodo?"
Not sure how the group feels about this?

[2018-08-03 05:44] Protohedgehog commented on #30
Yeah, so the first release is out here: https://zenodo.org/record/1323437#.W2PrgtL7RPY

Ideally, all the members of the drafting committee would be pulled in to the main author list each time there was a new release, without me having to enter them manually. Any ideas on how to do this..?

[2018-08-03 05:55] Protohedgehog commented on #28
*adds this to the list of things I need to buy @tosteiner beer for*

But yes, a Spanish version is in prep here: https://github.com/Open-Scholarship-Strategy/indexed#current-translations as well as an Indonesia adaptation, I believe.  If possible, best to use that existing directory structure for now? Open to suggestions of course. Will need to make sure that people doing the translations are all

[2018-08-03 09:02] tosteiner commented on #30
haven't tried it myself, but Chris Gorgolewski has written a neat run-down on how this might work automatically:

* http://blog.chrisgorgolewski.org/2017/11/sharing-academic-credit-in-open-source.html
   * with file example here: https://github.com/nipy/nipype/blob/master/.zenodo.json

and I think sticking to the minimal content scheme of
[code]
would easily suffice, don't you think?

[2018-08-03 09:43] Protohedgehog commented on #30
OK, awesome. Let's keep this in mind for the second release :) I want you all to be appropriately credited!

[2018-08-03 20:29] dannycolin commented on #8
@Protohedgehog There's an other solution I can think of. You could have two branches. One for the source code of the jekyll website and an other for the `_site` folder. You'll need to configure the repository so it looks to the branch containing the `_site` folder instead of the one containing the source.

I can create a test repository during the weekend because I don't remember all the steps in

[2018-08-03 22:13] borisalmonacid commented on #8
I used the sphinx-doc for generated a different extension using markdown files.

The output with sphinx are:
- HTML (including Windows HTML Help)
- LaTeX (for printable PDF versions)
- ePub
- Texinfo
- manual pages
- plain text

You can check the examples in this url [Sphinx Examples](http://www.sphinx-doc.org/en/master/examples.html)
Do you need something like that to generate different outputs?

[2018-08-03 22:19] rijdho commented on #8
Yep but the problem was with the jupyter notebook file :(

__
Laboratorio de Métodos
I3S // Facultad de Ciencias de la Salud
Universidad Central de Chile
Of: (+56)226661609
ORCID: 0000-0001-5058-9309

El 03-08-2018, a la(s) 15:13, borisalmonacid <notifications@github.com> escribió:

[2018-08-03 22:56] borisalmonacid commented on #8
@ametodico this problem is solved with -> https://help.github.com/articles/working-with-jupyter-notebook-files-on-github/

[2018-08-06 02:47] Protohedgehog commented on #8
@dannycolin If you get the chance to give that a stab, I'd deeply appreciate it!

@borisalmonacid - most of these formats exist already here: https://zenodo.org/record/1323437#.W2e2lij7RPY - do you think more types need to be added for the next release?

Also, this viewer thing looks mint. Lemme see if I can add a fix for that, thanks!

[2018-09-03 07:29] #2 closed

[2018-12-09 22:40] tosteiner opened #38 "Preparations for ver.2?"
Hi Jon, hi all,

since I'm currently meddling around with the translation [over here](https://github.com/Open-Scholarship-Strategy/indexed/tree/master/translations/german), I was wondering how we're going about the second release that we announce for the end of this year...

Do you guys think there's more changes needed, do we want to forward this to anyone interested in reviewing/adding stuff, et

[2018-12-09 23:04] tosteiner commented on #28
@Protohedgehog I guess I'll close this issue for the time being - have now returned to picking up on the German translation, my ETA is to have this ready for the release of ver. 2.0

[2018-12-09 23:04] #28 closed

[2018-12-10 07:56] Protohedgehog commented on #38
Aha, excellent Q @tosteiner. I'll add it to my list of stuff to get done before Christmas.. hmm. I think there were some changes that were needed (a final paragraph), as well as just a general read through too.

[2018-12-10 07:57] Protohedgehog commented on #28
OK, that's awesome, thanks @tosteiner! If we could do a joint launch of ver.2 + the German version, that would be great. Do you need any assistance with the translations atm?

[2018-12-12 14:01] brembs opened #42 "executive summary"
This is a very thorough, detailed document that covers many aspects of open scholarship. I would argue that it deserves a summary, ideally one, but certainly no more than two pages of what short term actions stakeholders should strive towards. This could, e.g., be done by first ranking the lists in the very first section according to priority and then formulate the first three in each category to

[2018-12-12 14:15] Protohedgehog commented on #42
This is a wicked cool idea, and also relates to #26 too.

What we could simply do to reconcile this is adding an executive summary as a PDF link, which then wouldn't take people away from the main body of text.

However, we do run the danger of such prioritisation and filtering potentially also being very subjective, and missing out some key elements. Interested to hear what others think on this o

[2018-12-12 18:13] tosteiner commented on #42
Hi Björn, hi Jon, totally agree with both of your points and I do like the idea of compiling a concise outlook (I think that's what #26 aimed for, too), but would rather try to not fashion it in the way of an executive summary, which in my book is perfectly fine for reports or similar types of documents, but my feeling is that it would run counter to what this our collective approach to a strategy

[2018-12-13 09:57] Protohedgehog commented on #42
So we already begin with a 'purpose of this document' section, and want to add a stronger finish too. Just trying to work out what additional value the outlook/summar would add atm, without taking too much away.

[2018-12-13 23:45] tosteiner commented on #42
how about we sketch sth out collaboratively over the next few days? I'll write down some early thoughts over the weekend... I think what would really be valuable as a conclusion is to develop further the point of "all of this is not new" ... aka back to the roots, Open Knowledge, Open Science is just Science done right, thoughts about Equity, Sustainability, ... (and please do stop me if this turn

[2018-12-14 10:10] brembs commented on #42
As the document states, strategy means "who should do what". As I envisaged it, a summary would list the most important actions that have to take place the soonest for change to begin. IOW, which are the most important things in which corner of the ecosystem that have to change and who needs to do what to bring about these most crucial changes.

For instance, given the acquisition strategies of th

[2018-12-14 14:53] tosteiner commented on #42
Björn, okay, I see - that's an excellent point indeed, and would def. tend more towards an exec summary... How about framing this as an "Immediate Action Plan" or similar and add it right after the "Purpose of this document" section?

and re: your thoughts on a different kind of mandate and open standards (which I fully agree with!): why not add those to the strategy as well?

[2018-12-14 15:01] brembs commented on #42
"Immediate action plan" sounds great. I guess placement would depend on the final formatting of the document. It could be also placed similarly to an abstract in a journal article, to whet the appetite for the entire document. Of course, that only works of this is a format we will end up with :-)

I was going to ask if it would make sense to add these items to an updated version.

BTW, I just read

[2018-12-22 15:39] cMadan opened #44 "Better TOC"
As @Protohedgehog pointed out in an email, it would be good if the table of contents (TOC) was a sidebar and stayed visible.

I can work on this, with the idea of changing the template a bit. My current plan would be to use this:
- https://mmistakes.github.io/minimal-mistakes/about/ (see TOC on the right)
- https://shaharkadmiel.github.io/Sticky-TOC-Sidebar/

I'm inclined to make the sidebar be on

[2018-12-22 16:03] tosteiner commented on #44
@cMadan that sounds great!

[2018-12-22 21:59] tosteiner commented on #8
this does kind of feed into this here - #44

[2018-12-23 00:13] dannycolin commented on #44
@cMadan FYI, CSS property `position: sticky` isn't well supported yet. (source: https://caniuse.com/#feat=css-sticky).

For the rest, I think you could simply use Bootstrap (even if the version on the website is a bit outdated) to create a second column on the right for the TOC. :)

[2018-12-23 09:15] Protohedgehog commented on #44
Ahh, @cMadan if you could get this to work for the new version that would be legendary! This caused quite a headache a while back now..

[2019-01-06 12:10] cMadan commented on #44
Spent some time on this today and I think it's all set. Let me know if you have any suggestions before I submit it as PR.

https://cmadan.github.io/Open-Scholarship-Strategy-site/

[2019-01-06 14:57] tosteiner commented on #44
@cMadan wow, that looks fabulous! one minor issue that I'm having on a smaller laptop display is that I'm not able to access the TOC's lower part (from 7 downwards) - not sure if there's any option of making this scrollable? (Here's a [screenshot](https://user-images.githubusercontent.com/41517607/50737595-935eaf00-11cb-11e9-807e-211bb7374041.PNG) for clarification - the main text is easily scroll

[2019-01-06 22:30] cMadan commented on #44
@tosteiner, thanks for including the screenshot! I think the best solution would be to remove the second level headers (e.g., 2.1, 7.1, etc.).

The way this it's done here, I can't make the TOC scrollable; I can either make it 'sticky' so it stays on the side, or 'not sticky' so it stays at the top but can be scrolled. Since the page is so long, I think being sticky is quite useful--but that's onl

[2019-01-06 23:02] dannycolin commented on #44
@cMadan Maybe you could use a `@media` querie on smaller devices to :

Here's a few solutions :

- remove `sticky`
- move it to the top of the page
- move it offcanvas and add a button to trigger it (a bit like a menu on mobile devices)

What do you kind? :)

[2019-01-06 23:11] cMadan commented on #44
@dannycolin, that's a good point, thanks! If you make the window narrower, the TOC does automatically pop to being at the top of the page. I could change the threshold for that, so it occurs at a lower width.

@tosteiner, what's the screen resolution on that laptop?

[2019-01-06 23:38] tosteiner commented on #44
@cMadan 1920x1080 on a 14'', but with 150% scaling ... when I turn scaling of, it fits perfectly... :) But there's other laptops or tablets that run on resolutions such as 1360x768 or lower - with that, the TOC would become partly lost

[2019-01-07 01:47] cMadan commented on #44
@tosteiner, thanks for the details. If you make the window smaller, the code is 'responsive' and moves the TOC to the top, but I'm not sure how the browser's measure of the window width is influenced by the scaling. In other words, it might already be doing that if the resolution was lower, but your case circumvents that because of the scaling. I'll look into it a bit.

[2019-01-07 15:27] dannycolin commented on #44
@tosteiner I've tested on my 1366x768 laptop and the TOC scroll works. Did you also scale the page on your 1366x768 laptop?

**Edit**

Oh almost forgot! @cMadan is it possible to add a collapse functionality when the TOC is on top of the text?

[2019-01-07 15:49] tosteiner commented on #44
@dannycolin no, scaling was deactivated when I tried other resolutions...

[2019-01-07 21:30] cMadan commented on #44
@dannycolin, not sure I follow. If the TOC is at the top, why would you want to collapse it? Do you mean the TOC is *overlapping* with text? I haven't seen that happen...

@tosteiner, it looks like CSS code based on resolution doesn't accomodate scaling well. I'm inclined to suggest that users either disable scaling or make the window narrower in those cases.

[2019-01-07 21:42] dannycolin commented on #44
@cMadan the UX reason behind making it collapsible by default would be to ease the navigation on mobile devices.

[2019-01-08 03:50] cMadan commented on #44
@dannycolin, otherwise it would just be scrolling down a screen length or so?

[2019-01-08 11:37] dannycolin commented on #44
@cMadan Or almost two. That TOC is kind of very long XD. It's also bad for web accessibility because people with disability (e.g. Parkinson disease) will have a hard time not clicking on a link.

[2019-01-08 18:39] cMadan commented on #44
Okay, that makes sense. I've now added an option to toggle the TOC visibility.

https://cmadan.github.io/Open-Scholarship-Strategy-site/

[2019-01-08 18:42] Protohedgehog commented on #44
This looks really awesome, thanks so much @cMadan for taking the time to do this! And everyone else too for their assistance :)

[2019-01-08 19:05] cMadan commented on #44
Thanks for the feedback, @tosteiner and @dannycolin!

@Protohedgehog, I'll wait and see if @dannycolin has any comments on the last edits and then submit this as a PR. :)

[2019-01-08 19:47] dannycolin commented on #44
@cMadan cool. It works great! thanks.

[2019-01-08 20:49] Protohedgehog commented on #44
Merged the new PR, but got a page build failure..

[2019-01-08 21:12] cMadan commented on #44
@Protohedgehog, I'm pretty sure you weren't using the docs before...

Anyways, if you go in the settings as the first link suggests, you should have the "Source" set to "master branch". (Not "master branch /docs folder".)

[2019-01-08 21:20] Protohedgehog commented on #44
Aha, doy. Got it now, thanks @cMadan - this looks excellent! I owe you substantial coffees next time we meet :)

[2019-01-08 21:20] #44 closed

[2019-01-08 22:35] cMadan commented on #8
I think #44 sorted all this out?

[2019-01-08 22:35] Protohedgehog commented on #8
Yes, thanks @cMadan! Great work, everyone :)

[2019-01-08 22:35] #8 closed

[2019-01-10 20:34] tosteiner commented on #38
Might prove worthwhile to directly link to the non-English language versions under the "file versions" section - will have a go at that later

[2019-01-10 20:34] Protohedgehog commented on #38
Good minds think alike, was just about to do that! :)

[2019-01-10 20:37] Protohedgehog commented on #30
@tosteiner if we were to implement the above, do we need to create a new json file to accompany the other files here?

[2019-01-10 20:38] Protohedgehog commented on #27
@timkoder do you think you could add this in to the latest version now, as we're updating that this month?

[2019-01-10 20:41] Protohedgehog commented on #26
Hey @timkoder, looking at this again now, will add a new 'Conclusions section' to this version. Contributions welcome!

[2019-01-10 20:44] Protohedgehog commented on #13
@Matherion Heads up! Working on version 2 of this now. Do you think it would be possible to integrate some of what you mentioned here.

[2019-01-10 20:46] Protohedgehog commented on #42
Hey @brembs @tosteiner, any further thoughts on this 'Immediate action plan' idea? Did anyone have a chance to sketch out what this might look like?

[2019-01-10 21:27] brembs commented on #42
Depending on how the airline reacts to my requests for an earlier flight after they canceled my flight, I might have some time tomorrow to work on this...

[2019-01-10 21:31] Protohedgehog commented on #42
If it's RyanAir or EasyJet, I'll assume this will be ready by tomorrow ;)

[2019-01-10 21:33] brembs commented on #42
Lufthansa...

[2019-01-10 22:41] tosteiner commented on #30
@Protohedgehog not sure about that myself - I guess this is connected to the repo metadata issue mentioned above which Simon wanted to check out, no?

[2019-01-10 22:44] tosteiner commented on #42
oh dear, that ✈️  sounds like trouble... re "immediate action plan": could also throw in some bits & pieces later during the weekend... how about we ping pong this over the next few days? @brembs if you find the time, feel free to have a go at it and we'll see how it works out :)

[2019-01-11 07:30] brembs commented on #42
I got the earlier flight, so won't have much time. Can't promise anything at this point. But we had an EUA meeting yesterday, where  I presented my proposal for fast action:
http://bjoern.brembs.net/2018/11/maybe-try-another-kind-of-mandate/
slides:
https://www.slideshare.net/brembs/incentives-for-infrastructure-modernization

The attendants confirmed my worst fears: Elsevier will have turnkey ope

[2019-01-11 09:27] Protohedgehog commented on #30
Possibly. Let's give it a bash and see what happens :)

Or, I don't mind just doing it manually.

[2019-01-11 09:32] Protohedgehog commented on #42
You cannot implement a new regime while the current one maintains power.

Well, I guess we all knew this was coming. And because we don't have organisation, or strategy, we were never going to be able to stop them either.

But yeah, maybe let's think about this for framing the action plan, to decide which elements of the strategy are perhaps most urgent?

[2019-01-13 11:22] tosteiner commented on #42
so sorry, but have to shift this a few days back as well...

[2019-01-13 11:25] Protohedgehog commented on #42
No worries! Have already pushed the deadline back to the end of the month for revisions :)

[2019-01-13 11:35] tosteiner commented on #42
yup, excellent 👍

[2019-01-13 11:44] Protohedgehog commented on #38
Have added these links in now, and started generally updating the strategy.

[2019-01-13 11:45] Protohedgehog opened #49 "When Ver. 2 is completed to do all new file conversions"
Note to self, and to update links in strategy to point to new versions.

[2019-01-13 11:46] Protohedgehog opened #50 "Submit strategy as a preprint"
Think to e.g., the BITSS preprint platform.

[2019-01-13 11:52] Protohedgehog opened #51 "Add a bibliography"
Maybe divided into sections:
1. Papers etc referenced
2. Tools/services mentioned

[2019-01-13 12:05] tosteiner commented on #51
Same point was made over at OSMOOC: How about opening a Zotero group for this?

[2019-01-13 12:08] Protohedgehog commented on #51
Could do, @tosteiner. I think it wouldn't take me too long just to do this manually in a bit though.

[2019-01-13 12:08] tosteiner commented on #51
I'd be happy to do that and begin sorting through the strategy later this week - I work with the desktop client which makes adding stuff much easier

[2019-01-13 12:09] Protohedgehog commented on #51
@tosteiner I'm spending much of today working on this too. Lemme see how much I can get finished, and then what needs to be done after that. Should be able to finish the proofing and bibliography, hopefully.

[2019-01-13 12:12] tosteiner commented on #51
@Protohedgehog that's great, thanks! I'm currently tied down with prepping up for a job interview, but will continue with the strategy after Wednesday

[2019-01-13 12:12] Protohedgehog commented on #51
Ha, I have one of them over the next couple of days too (sneaky for now). But this takes priority for me.. ;)

[2019-01-13 12:59] tosteiner commented on #51
🤞 hey, that's great news - I'll keep my fingers crossed 🍀

[2019-01-13 15:04] Protohedgehog commented on #51
OK, first whack here done https://open-scholarship-strategy.github.io/site/#12-references-

Only problem for me is that the TOC section 12 is off the screen now, and part of 11 too. Any idea on how to potentially fix that? @cMadan @tosteiner

[2019-01-13 15:04] Protohedgehog commented on #50
Link here btw: https://osf.io/preprints/bitss/

[2019-01-13 15:05] Protohedgehog commented on #49
From strategy: It is available in a range of formats, including: R markdown, as an e-book, iPython notebook, markdown, open document format text, PDF, rich-text format, LaTeX, plain text, XML and as HTML.

Suggestions for any other formats?

[2019-01-13 15:05] Protohedgehog commented on #30
Note that I'll have to do this now for the preprint submission to re #50

[2019-01-13 15:06] Protohedgehog commented on #26
Note that section 11 is now the Conclusions https://open-scholarship-strategy.github.io/site/#11-conclusions-

[2019-01-13 15:40] tosteiner commented on #51
@Protohedgehog when you scroll down the main body of the text, does the TOC follow? I do have the same problem, but suppose it's just too many entries in the TOC to be properly displayed... not sure if this is feasible, but an option would be to add a fold-out for second-level entries, so that only 1-12 show on initial load  and 1.1, 1.2 ... expand after you click on them

[2019-01-13 15:47] Protohedgehog commented on #51
Ah yes, if I scroll through the whole document then it does. Yeah, a 'collapsible' menu of sorts might be a nice solution to this, if possible.

[2019-01-17 20:25] cMadan commented on #51
@tosteiner, can you think of any websites that do that? I know I've seen that functionality before, but can't recall a place that has it... If I have an example to work from, I can make it work here.

[2019-01-17 22:48] tosteiner commented on #51
@cMadan I know this from a variety of forum tools, and what particularly comes to mind is GitBook - see https://docs.gitbook.com/ (TOC on the left), or this [wiki template](https://en.wikipedia.org/wiki/Template:Collapsible_sections_option)

[2019-01-18 10:22] cMadan commented on #51
@tosteiner, I was thinking of something that automatically expanded the section you're currently in, as you scroll down. Gitbook seems to just expand the page your currently on, but each is a separate page. The wiki template example is closer, but needs the user to manually expand each section, that should be do-able, but is perhaps a bit more tedious...

For now I'll wait to see if either of us (

[2019-01-18 10:26] tosteiner commented on #51
@cMadan oh, I see - hum, I don't think I've come across the auto-expanding variation yet - usually, you're simply shown the main points of the TOC, and when you actively click on one of these, the sub-sections appear... but auto-expansion sounds really fancy!

[2019-01-19 20:49] tosteiner commented on #51
@Protohedgehog brilliant work on the biblio and the main text! What would you say, do you think this is now nearing completion so we might think about cleaning up and finalization? I'm particularly asking because I want to also update the German translation to the most current state, and think this might be it ;)

Also, for the bibliography: I was thinking... would you mind me switching research p

[2019-01-19 20:56] tosteiner opened #52 "Add most recent changes to German translation"
note to self - update German translation to reflect the most recent changes

[2019-01-19 21:14] tosteiner commented on #38
will close this now, since elements have been sorted into other issues

[2019-01-19 21:14] #38 closed

[2019-01-20 09:15] Protohedgehog commented on #38
Cool, thanks @tosteiner! Added in a link to the Indonesian version most recently too.

[2019-01-20 09:17] Protohedgehog commented on #51
Yes, I think the remaining main things to do are the executive intro as Björn mentioned, and the conclusion section. There are a couple of remaining things in the issues section too that others have mentioned.

Sure, can look at switching to DOIs too. Will add it to the list of things to do this week :)

[2019-01-20 09:23] Protohedgehog commented on #13
Pinging @Matherion again about this. Any thoughts? Do you think you might have a bit of time to contribute on this still? :)

[2019-01-20 09:24] Protohedgehog commented on #27
Ping @timkoder about this again, any thoughts?

[2019-01-20 12:06] tosteiner commented on #51
@Protohedgehog Got some spare time on my hands today (travel day back to Hamburg), so would work a bit on the action plan thing, and could also throw in the DOIs if that's okay with you?

[2019-01-21 08:49] timkoder commented on #27
Hi Jon,

Sorry for the delay.
It’s good timing though - we’re holding a major round-table meeting of Open Pharma today and I should be well-informed to return to the strategy document after that.

Best wishes,

Tim

On 20 Jan 2019, at 09:24, Jon Tennant <notifications@github.com<mailto:notifications@github.com>> wrote:

Ping @timkoder<https://github.com/timkoder> about this again, any thoughts?

—

[2019-01-21 09:45] Protohedgehog commented on #27
Fantastic, thanks @timkoder - looking forward to updates! :)

[2019-01-21 09:50] Protohedgehog commented on #51
Brill, thanks @tosteiner! Merged your PR now, all looks good here. I think we just have a couple of bits left to finish that I can work on this week, and then I'll send around the big email again.

[2019-01-23 11:58] tosteiner commented on #42
@Protohedgehog @brembs I've now begun with a humble try to frame the action plan, and thought it would be good to do this first in a separate md file which can then later be added to the strategy, or externalized in other ways :)

Here's my first steps: https://github.com/Open-Scholarship-Strategy/site/blob/master/immediate-action-plan.md

Would be glad about your opinions on this, and please feel

[2019-01-23 12:01] Protohedgehog commented on #42
Brilliant, thanks @tosteiner. Have pulled now and will go through it. @brembs if you get a minute to check this too, that would be epic. I can then create a separate PDF version of this to integrate into the site. Will have to also think about how to best format this for the preprint submission re #50

[2019-01-23 12:42] brembs commented on #42
Awesome! Will try to find time to have a look at it tomorrow or Friday!

[2019-01-23 12:48] Protohedgehog commented on #42
Perfect, thanks @brembs. I'm going to work on it very shortly, so make sure to pull the latest version first :)

[2019-01-23 14:47] Protohedgehog commented on #51
Can this be closed now @tosteiner?

[2019-01-23 14:48] Protohedgehog commented on #42
OK, I gave the action plan a going over @tosteiner @brembs - it's down to 2 pages now as a PDF, and I also linked to it in index.md.

[2019-01-23 14:49] Protohedgehog commented on #26
@timkoder I have now added a concluding section to this - thoughts?

[2019-01-23 15:47] #51 closed

[2019-01-23 17:48] tosteiner commented on #42
@Protohedgehog Great work, Jon, thank you! I figure this might be boiled down to an even shorter version, let's see what @brembs has to say during the next few days, and maybe we can have this done and done by the end of this week 😃

[2019-01-23 17:51] Protohedgehog commented on #42
A one liner consisting of 'Stop giving money to commercial publishers for destroying the system of scholarship. QED.' @brembs @tosteiner

[2019-01-28 09:45] #26 closed

[2019-01-28 22:50] timkoder commented on #27
Hi Jon, please find attached updated text. Not being used to Github working, and as it's close to deadline, rather than mess about in the file, I'm going to wimp out and ask you to insert the text please! Thanks, Tim
[2018-01-28 New text for section 4 pharma involvement.docx](https://github.com/Open-Scholarship-Strategy/site/files/2805262/2018-01-28.New.text.for.section.4.pharma.involvement.docx)

[2019-01-28 23:13] timkoder commented on #26
Hi Jon, nice job on the Conclusions. Sorry I didn't reply sooner. Can I challenge you to halve the length, to make it punchier? I've taken 100 words out in the attached, see what you think. Cheers, Tim
[Conclusion - TJK ed.docx](https://github.com/Open-Scholarship-Strategy/site/files/2805346/Conclusion.-.TJK.ed.docx)

[2019-01-28 23:16] timkoder commented on #26
Hi Jon

Sorry for the delay. I have worked on the pharma info and conclusion - see what you think. I'm still travelling for work and am not used to Github, so have wimped out of editing straight in and instead sent you two attachments, and if it doesn't work in GitHub, they are also attached here.

Cheers, Tim
________________________________
From: Jon Tennant <notifications@github.com>
Sent: 03 S

[2019-01-29 08:30] brembs commented on #42
OK, I'll have a go at it now. @Protohedgehog 's one-liner should suffice, though.... :-)

[2019-01-29 16:21] Protohedgehog commented on #27
Brilliant, thank you @timkoder! Will get this integrated right away :)

[2019-01-29 16:21] Protohedgehog commented on #26
Brilliant, thank you @timkoder! Will get this integrated right away :)

[2019-01-29 17:08] brembs commented on #42
Shortened it rather massively, as most of the specific points are subsumed by demanding standards and proper investment/divestment.

[2019-01-29 17:20] tosteiner commented on #42
@brembs did you push it to the site? can't seem to find any updates here...

[2019-01-29 17:23] brembs commented on #42
I do not have write access, so I only forked it. Can create a pull request, if you want.

[2019-01-29 17:26] Protohedgehog commented on #42
If you could for now @brembs that would be epic. At dinner now but will upgrade you after 😁

[2019-01-29 17:28] brembs commented on #42
Pull request opened.

[2019-01-29 17:28] brembs commented on #42
Guten Appetit! :-)

[2019-01-29 18:44] tosteiner commented on #42
@Protohedgehog @brembs just a tiny bit offtopic, but would you guys be interested in doing a thang on the Strategy (as well as the Action Plan) at the Open Science Barcamp on March 18? Not sure yet if I'll be able to make it, but would be more than happy to chime in in case you think this is something worth presenting there ;) https://www.eventbrite.com/e/barcamp-open-science-tickets-55216091817

[2019-01-29 18:46] Protohedgehog commented on #42
@tosteiner what do you think of @brembs edited version now? If you think it's good, I'll close this issue down.

As for the barcamp, I think I'll be there, but not sure if the strategy is appropriate for the event? Maybe.

[2019-01-29 18:51] tosteiner commented on #42
@Protohedgehog re: barcamp - I suppose the more natural thing to do there would be to talk about OSMOOC - FOSTER is proposing a session on "How to deliver an effective Open Science Training?" ;)

[2019-01-29 18:55] tosteiner commented on #42
@Protohedgehog and re: action plan - yup, I'm fine with how it is, will look at Björn's comment in the pull request regarding "references, language polishing and perhaps re-ordering of items", but the issue can be closed, I guess 👍

[2019-01-29 18:56] Protohedgehog commented on #42
OK, sweet. Can chat about the Barcamp on Slack too. I've just finished integrating the latest edits from #26 and #27 too now.

[2019-01-29 18:56] #42 closed

[2019-01-29 18:57] Protohedgehog commented on #26
This was fab, thanks @timkoder! Also conveniently more in line with the new executive summary that @brembs added this evening. Good stuff! :)

[2019-01-29 18:57] #27 closed

[2019-01-30 07:53] brembs commented on #42
WRT Barcamp: I'm frequently in Berlin, so if I'm there by accident, I could attend, but otherwise I don't travel to such events any more:
http://bjoern.brembs.net/2017/02/open-science-too-much-talk-too-little-action/

[2019-01-30 07:56] Protohedgehog commented on #42
Ha, I know the post and completely sympathise, @brembs. If you are in town, maybe just pop by for the 'bar' part then.

[2019-01-30 08:06] tosteiner commented on #42
@brembs oh, yes, can absolutely relate

[2019-02-15 23:44] tosteiner commented on #52
completed ✅

[2019-02-15 23:44] #52 closed

[2019-02-15 23:45] tosteiner commented on #50
Online at https://osf.io/preprints/bitss/b4v8p - so I think closing this issue would be alright...

[2019-02-15 23:45] #50 closed

[2019-02-15 23:47] tosteiner commented on #30
amazing job done by @Protohedgehog on doc finalization 👍  will close this here now

[2019-02-15 23:47] #30 closed

[2019-02-16 00:28] Protohedgehog commented on #30
Awesome, thanks @tosteiner!

[2019-02-16 00:28] Protohedgehog commented on #52
WHOOOOP!!

[2019-02-16 00:29] #49 closed

[2020-07-29 04:05] CooperSmout opened #63 "Is anyone maintaining this repository now?"
Hi all,

Just enquiring if anyone has write access to this repository and/or is planning to continue development, now that Jon Tennant has sadly passed. It would be a shame to see all his hard work go to waste, but then I wasn't following this repo closely and not sure where it's at. Are people still contributing to this project, or are there elements that should be salvaged? At the very least I'd

[2020-07-29 08:56] tosteiner commented on #63
Hi Cooper,

you're definitely right, there isn't much happening with this repo any more, I'm afraid. I'd assume it would be best to leave it as it is because of https://open-scholarship-strategy.github.io/site/ (the GitHub Pages output of this repo), but next to that, perfectly fine to fork either the whole repo or just the comms strategy to Project FOK! (would be great if you could add an attribu

[2020-07-30 05:35] CooperSmout commented on #63
Ok will do, thanks for letting me know